version: "3"

services:
  #コンテナ1　MySQL
  db:
    container_name: mysql
    image: mysql:8
    env_file: ./backend/.env

  #コンテナ2 SpringBoot
  app:
    container_name: springboot
    image: gradle:7.6.1-jdk-alpine
    # デフォルトはTomcatサーバーが8080に指定
    ports:
      - 8001:8001
    # コンテナを起動したままにする
    tty: true
    stdin_open: true
    # volumesを設定して、ルートディレクトリ下のファイルの変更をdockerコンテナ内でも即時反映
    working_dir: /app
    volumes:
      - ./backend/:/app
    # dbを立ち上げた後にappコンテナを立ち上げる
    depends_on:
      - db
    # `compose up`の際に行うコマンド (buildしてjarファイルの実行)
    command: sh -c "gradle build && java -jar -Dserver.port=8001 build/libs/*SNAPSHOT.jar"
