@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-50;
}

.my-form {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg;
  @apply focus:ring-blue-500 focus:border-blue-500;
  @apply block w-full p-2.5 flex-grow resize-none;
  @apply dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  @apply dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
