@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.my-form {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg;
  @apply focus:ring-blue-500 focus:border-blue-500 focus:bg-white;
  @apply block w-full p-2.5 flex-grow resize-none;
  @apply dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  @apply dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.my-form-warning {
  @apply bg-red-50 border border-red-300 text-gray-900 text-sm rounded-lg;
  @apply focus:ring-red-500 focus:border-red-500;
  @apply block w-full p-2.5 flex-grow resize-none;
  @apply dark:bg-red-700 dark:border-red-600 dark:placeholder-red-400 dark:text-white;
  @apply dark:focus:ring-red-500 dark:focus:border-red-500;
}

.my-number-form {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg;
  @apply focus:ring-blue-500 focus:border-blue-500;
  @apply block max-w-[5rem] py-2 p-2.5;
  @apply dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  @apply dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
